*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f5f7f6;
color:#333;
transition:.4s;
}

body.dark{
background:#121212;
color:white;
}

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.6),
rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1464226184884-fa280b87c399");
background-size:cover;
background-position:center;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.logo{
font-size:1.8rem;
font-weight:bold;
}

.hero-content{
text-align:center;
max-width:900px;
margin:auto;
padding-top:180px;
}

.hero-content h1{
font-size:4rem;
margin-bottom:20px;
}

.hero-content p{
font-size:1.2rem;
margin-bottom:30px;
}

.btn{
background:#2ecc71;
padding:15px 35px;
color:white;
text-decoration:none;
border-radius:30px;
}

section{
padding:80px 10%;
}

h2{
color:#1b5e20;
margin-bottom:25px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

body.dark .card{
background:#1f1f1f;
}

.timeline{
display:grid;
gap:20px;
}

.event{
padding:20px;
border-left:5px solid #27ae60;
background:white;
}

table{
width:100%;
border-collapse:collapse;
}

table th,
table td{
padding:15px;
border:1px solid #ccc;
text-align:center;
}

.quiz button{
padding:12px 20px;
margin:10px;
cursor:pointer;
}

.faq-btn{
width:100%;
padding:15px;
margin-top:10px;
border:none;
background:#27ae60;
color:white;
cursor:pointer;
}

.faq-content{
display:none;
padding:15px;
background:#eee;
}

footer{
background:#0b3d2e;
color:white;
text-align:center;
padding:25px;
}

#darkMode{
padding:10px;
cursor:pointer;
}
